{$OPENCLAW_PUBLIC_HOST} {
	encode gzip zstd
	tls {$TLS_EMAIL}

	reverse_proxy {$OPENCLAW_UPSTREAM} {
		header_up Host {host}
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-Proto {scheme}
	}
}

